*{
    box-sizing: border-box;
}
:root{
    --color-akcent-1: #08A6E4;
    --color-akcent-2: #FB3B64;
    --color-akcent-3: #55DFB4;
    --color-small-text: #A5A5A5;
    --color-medium-text: #707070;
    --color-background: #F7F7F7;
    --color-border: #E8E9ED;
    --font-open-sans: 'Open Sans', sans-serif;
    --font-raleway: 'Raleway', sans-serif;
}

.container {
    max-width: 1352px;
    margin: 0 auto;
}

.best-shop-logo{
    color: var(--color-akcent-1);
    font-family: var(--font-raleway);
    font-weight: 300;
    text-decoration: none;
}
/*SEKCJA 1 -S TYLOWANIE NAGŁÓWKA*/

.header-container{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 6px #00000029;
    opacity: 1;
}

.header-container .best-shop-logo{
    font-size: 32px;
    line-height: 37px;
    margin: 16px 0 17px 136px;
}

.shop-nav{
    height: 100%;
}

.page-nav-list{
    display: flex;
    height: 100%;
}

.page-nav-list li{
    padding: 0 26px;
    text-align: center;
}

.page-nav-list li a{
    text-decoration: none;
    color: var(--color-small-text);
    font-family: var(--font-open-sans);
    line-height: 15px;
    font-weight: 700;
    font-size: 11px;
    letter-spacing: 3.28px;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    border-bottom: 4px solid transparent;
    padding: 28px 18px 22px;
}

.page-nav-list li:last-child {
    padding-right: 0;
}

.page-nav-list li a:hover{
    border-color: var(--color-akcent-1);
    color: #000000;
    cursor: pointer;
}

/*STYLOWANIE SEKCJI wspólne*/
.sections-header{
    font-family: var(--font-raleway);
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    color: #000000;
}


/* SEKCJA 2 - STYLOWANIE SEKCJI OPENING PLATFORMA*/

.opening-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.opening-section-content{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.opening-section-img{
    width: 100%;
}

.opening-section-title{
    font-family: var(--font-raleway);
    font-weight: 400;
    font-size: 49px;
    margin-bottom: 20px;
}

.opening-section-text{
    font-size: 16px;
    font-weight: 400;
    font-family: var(--font-open-sans);
    line-height: 22px;
    margin-bottom: 38px;
}

.btn-cta{
    font-family: var(--font-open-sans);
    background: var(--color-akcent-1);
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    padding: 22px 0 23px 0;
    color: #fff;
    box-shadow: 5px 10px 14px #07ACE629;
    height: 67px;
    width: 440px;
    border-radius: 40px;
    opacity: 1;
}

/*SEKCJA 3*/

.section-sales-icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-sales-content{
    margin-top: 100px ;
    margin-bottom: 121px;

}
.section-sales-content h2{
    padding-bottom: 100px;
    text-align: center;
}

.header-col{
    font-family: var(--font-raleway);
    font-size: 20px;
    letter-spacing: 6px;
    font-weight: 800;
    color: black;
    text-align: center;
    margin: 22px 0 19px 0;
}
.text-col{
    font-family: var(--font-raleway);
    color: var(--color-small-text);
    font-size: 17px;
    line-height: 20px;
    text-align: center;
}

.sales-column-content{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /*flex-wrap: wrap;*/
}

.sales-column2{
    margin: 0 200px;

}

.sales-column-content img{
    float: right;
    margin-bottom: 23px;
    position: relative;
    z-index: 1;
}

.icon-col1{
    padding-right: 5px;
}

.icon-col2{
    padding-right: 45px;
}

.icon-col3{
    padding-right: 25px;
}


.sales-column1:before{
    background-color: var(--color-akcent-2);
    height: 63px;
    width: 63px;
    border-radius: 50%;
    position: relative;
    content: "";
    display: block;
    left: 34px;
    top: 55px;
}
.sales-column2:before{
    background-color: var(--color-akcent-1);
    height: 63px;
    width: 63px;
    border-radius: 50%;
    position: relative;
    content: "";
    display: block;
    top: 47px;
    left: 65px;
}
.sales-column3:before{
    background-color: var(--color-akcent-3);
    height: 63px;
    width: 63px;
    border-radius: 50%;
    position: relative;
    content: "";
    display: block;
    top: 53px;
    left: 34px;
}

/*SEKCJA 4*/
.btn-price{
    font-family: var(--font-open-sans);
    font-size: 13px;
}


.btn-price1{
    background: var(--color-akcent-2);

}

.btn-price2{

}
.btn-price3{

}
/*STYLOWANIE SEKCJI BOX*/

.section-boxes {
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 105px;
    width: 100%;
}

.box3-margin-background{
    background-color: var(--color-background);
}

.box-single {
    background-color: #ffffff;
    margin-bottom: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 370px;
    border: 1px solid var(--color-border);
    border-radius: 5px;
}



.box-text {
    padding: 30px 0 50px 0;
}


.box-content-macbook{
    width: 416px;
    margin: 91px 35px;
    /*padding: 91px 169px 91px 35px;*/
}

/*.box-content-img1{*/
/*    height: 219px;*/

/*}*/

.box-content-iPhone{
    width: 416px;
    margin-left: 192px;
    margin-right: 20px;

}
.box-content-trumpet{
    padding: 70px 35px;
}

.box-macbook img{
    width: 386px;
    height: auto;
    /*margin-right: 118px;*/
    float: left;
    position: relative;
    z-index: 2;
}
.box-content-img1::before{
    position: absolute;
    content: "";
    display: block;
    background-color: var(--color-akcent-2);
    height: 180px;
    width: 180px;
    transform: rotate(45deg); /* obrócenie elementu o 45 stopni */
    border-radius: 41px;
    top: 90px;

}

.box-img2 {
    height: 328px;
}

.box-content-trumpet{
    margin-right: 61px;
    height: 370px;
    border: 1px solid var(--color-border);
    border-radius: 5px;
    background-color: #ffffff;
}
}

.box-img3{
    background-color: var(--color-akcent-3);
    border: 1px solid var(--color-border);
    border-radius: 5px;

}

.box-img {
    height: 370px;
    width: 440px;
    background-color: var(--color-akcent-3);
    border: 1px solid var(--color-border);
    border-radius: 5px;

}

.box-img img {
    width: 295px;
    height: 207px;
    margin-top: 55px;
    vertical-align: center;
}


/*.box-img3{*/
/*    height: 207px;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/




/*STYLOWANIE SEKCJI PRICING*/


/*STYLOWANIE SEKCJI FORM*/

/*STYLOWANIE STOPKI*/
.logo-footer .best-shop-logo{
    font-size: 26px;
    line-height: 30px;
}

.shop-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-background);
    height: 89px;
    box-shadow: 0 -5px 40px #00000029;
    opacity: 1;
}

.logo-footer{
    padding-left: 137px;
}

.logo-footer p{
    padding-top: 7px;
    font-size: 11px;
    font-family: var(--font-open-sans);
    font-weight: 400;
    color: var(--color-small-text);
}

.icon-facebook{
    padding-left: 20px;
    padding-right: 136px;
}

